[submodule "Mgcg/HandmadeCL/Cloo"]
	path = Mgcg/HandmadeCL/Cloo
	url = git@github.com:aokomoriuta/Cloo.git
[submodule "Mgcg/ViennaCL/ViennaCLFiles"]
	path = Mgcg/ViennaCL/ViennaCLFiles
	url = git@github.com:aokomoriuta/ViennaCLFiles.git
